.advantages {
    min-height: 300px;
    padding: 20px 0 20px 0;
    background-color:#f6f6f6;
    &__subheader {
        color: black;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }
    &__icons {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }
    &__icon {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;

    }
    &__round {
        display:flex;
        justify-content: center;
    }
    &__descr {
        text-align: center;
        font-weight: 700;
        margin-top: 30px;
        

    }
    &__text {
        text-align: center;
        a{
            color:red;
            text-decoration: underline;
        }
        a:hover{
            color:grey;
            transition: 0.5s all;
        }

    }



   


    






}