.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../img/consultation.jpg) center (center/cover) no-repeat;
    h2.left{
            color: white;
            font-size: 36px;
            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
            line-height: 45px;
        }
    &__descr{
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
        
}




















